.table{
    border:2px solid black;
    width:100%;
    border-radius:12px;
    background-color:rgb(20, 204, 187);
    }
   tr {
     background-color: rgb(20, 205, 187); 
     }
   td {
       border-radius: 15px;
       padding: 5px;
       text-align: left;
       border: 2px solid black; 
   }
   th {
       border-radius: 15px;
       padding: 5px;
       text-align: center;
       border: 2px solid black; 
   }
   .table2{
       position: fixed;
       bottom: 30%;
       left: 20%;
       align-items: centered;
       
   }
   #c11,#c12,#c13,#c21,#c22,#c23,#c31,#c32,#c33{
       border-color: rgba(13, 183, 115, 0.56);
       border-width: 2px;
       height: 50px;
       width: 80px;
   }
   #c11{border-radius:7px;}
   #c12{border-radius: 10px;}
   #c13{border-radius: 15px;}
   #c21{border-radius: 5px; }
   #c22{border-radius: 4px;}
   #c23{border-radius: 15px;}
   #c31{border-radius: 90px;}
   #c32{border-radius: 4px;}
   #c33{border-radius: 0px 20px;}